.navbar {
    background-color: #333;
    padding: 10px 20px;
    color: #fff;
  }
  
  .hackathon-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 20px;
  }
  
  .card {
    width: 20rem;
    border: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card-img-top {
    object-fit: cover;
    height: 200px;
  }
  
  .card-body {
    padding: 20px;
  }
  
  .card-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .card-text {
    padding : 10px auto ;
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 20px;
  }
  
  .btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  
  a.btn-primary {
    text-decoration: none;
  }
  