.navbar {
    background-color: #333;
    padding: 10px 20px;
    color: #fff;
  }
  
  .navbar .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .navbar .navbar-brand:hover {
    color: #28a745; 
  }
  
  .navbar .navbar-brand img {
    margin-right: 10px;
  }
  
  .navbar .nav-link {
    color: #fff;
    font-size: 1.2rem;
    margin: 0 10px;
  }
  
  .navbar .nav-link:hover {
    color: #28a745; 
  }
  
  .navbar, .navbar .navbar-brand, .navbar .nav-link {
    transition: color 0.3s;
  }
  
  body.dark-mode .navbar {
    background-color: #444;
  }
  
  body.dark-mode .navbar .nav-link {
    color: #ccc;
  }
  
  body.dark-mode .navbar .navbar-brand:hover,
  body.dark-mode .navbar .nav-link:hover {
    color: #28a745; 
  }
  